body {
    overflow: hidden;
    width: 100%;
}

.bg {
    position: absolute;
    left: 30%;
    top: 15%;
    height: 800px;
    z-index: -1;
}

.main {
    position: absolute;
    left: 25%;
    height: 100vh;
}

.title {
    position: absolute;
    left: 40%;
    width: 500px;
}